{% load staticfiles %}
<div class="row">
    <div class="col-md-12">
        <h2>Contact Form</h2>

        <form action="{% url 'core_website_app_contact' %}" method="post" class="form-horizontal">
            {% csrf_token %}

            {% for field in data.contact_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-send-o"></i> Send Message
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
