{% load staticfiles %}
<div class="row">
    <div class="col-md-12">
        <h2>Request New Account</h2>

        <p>Use the following form to request an user account on the {{CUSTOM_TITLE}} Curation System.</p>

        {% if data.action_result %}
        <div class="alert alert-danger">
            {{ data.action_result }}
        </div>
        {% endif %}

        <form action="{% url 'core_website_app_account_request' %}" method="post">
            {% csrf_token %}
            {{ data.request_form }}
            <input type="submit" class="btn btn-lg btn-default" value="Send Request"/>
        </form>
    </div>
</div>
