{% extends "mdcs/extra/one_column.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: contact_messages.html
# Application: templates/admin
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology (NIST)
#
################################################################################
-->
{% endcomment %}

{% block title %}<h1>Contact Messages</h1>{% endblock %}

{% block menu %}{% include 'admin/menu/main.html' with active_tab='tab2' %}{% endblock %}
{% block submenu %}{% include 'admin/menu/submenu/user.html' with active_tab='tab3' %}{% endblock %}

{% block content%}
    {% if contacts %}
    <table class="data-table">
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>

        {% for message in contacts %}
            {% cycle 'even' '' as rowcolors silent %}
            <tr class="{{ rowcolors }}">
                <td>{{ message.name }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.content }}</td>
                <td>
                    <div class="icon legend long remove message" messageid="{{ message.id }}">Delete</div>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% else %}
        No contact messages pending at the moment.
    {% endif %}
{% endblock %}  

{% block popups %}
{% include 'core_website_app/admin/modals/confirm_delete.html' %}
{% include 'core_website_app/admin/modals/delete.html' %}
{% endblock %}

{% block extrajs %}
<script src="{% static 'core_website_app/admin/js/contact.js' %}"></script>
<script>
	loadContactMessagesHandler();
</script>
{% endblock %}  
